@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.clip{
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.biomed{
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);}


.dynamic-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  font-size: 24px;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blur-bg {
  backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.8); 
}
@keyframes wiggle {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
    /* Adjust the distance the border moves */
  }

  100% {
    transform: translateX(0);
  }
}

.animate-wiggle {
  animation: wiggle 2s linear infinite;
  /* Adjust the animation duration and timing function as needed */
}
