@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

.playwrite-pe {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
html{
  scroll-behavior: smooth !important;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    scroll-behavior: smooth;
}
.clip{
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.biomed{
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);}


.dynamic-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  font-size: 24px;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blur-bg {
  backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.8); 
}
@keyframes wiggle {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-wiggle {
  animation: wiggle 2s linear infinite;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(129, 34, 34);
}

::-webkit-scrollbar-track {
  background-color: black;
}